.mainHome {
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgb(25, 25, 25), rgb(244, 240, 19));
}

.mainHome .box {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    flex-wrap: wrap;
}

.mainHome .box .inputContainerOne {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.mainHome .box .inputContainerOne .label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHome .box .inputContainerOne .label .heading {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.mainHome .box .inputContainerLast {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

@media(max-width:600px) {
    .mainHome .box {
        width: 300px;
    }
}
